.contaner {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/header.jpg);
  background-size: cover;
  background-repeat: none;
  color: white;
  text-align: center;
  padding: 200px 0;
}
.titles {
  margin: 80px 100px;
}

header h1 {
  font-family: playfair display;
  font-weight: 700;
  font-size: 128px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-family: roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

header h3 {
  font-family: roboto;
  font-weight: 220;
  font-size: 30px;
  line-height: 1;
  margin: 20px 0 60px;
}
header a {
  font-family: roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;
  color: white;
  background-color: #7c0200;
  text-decoration: none;
  border-radius: 10px;
}

main h1 {
  font-family: playfair display;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  margin: 0;
}

main h2 {
  font-family: roboto;
  font-weight: 700;
  font-size: 13px;

  letter-spacing: 5px;

  text-transform: uppercase;
}
main p {
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  opacity: 0.7;
}
.main-explain {
  padding: 150px 0;
}
section {
  max-width: 100%;
  padding: 100px;
  margin: 0 auto;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/footer.jpg);
  background-size: cover;
  background-repeat: none;
  color: white;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.img-responsive {
  width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}
footer h3 {
  font-family: playfair display;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}
footer p {
  font-family: roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}

footer li {
  font-family: roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  margin: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 800px) {
  .titles {
    margin: 0 20px;
  }
  header h1 {
    font-size: 68px;
  }
  header h2 {
    font-size: 18px;
  }
  header h3 {
    font-size: 16px;
  }
  section {
    padding: 20px;
  }
  footer ul {
    padding: 0;
  }
  .grid {
    grid-gap: 32px;
  }
  .main-explain {
    padding: 0;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .grid-3-columns-footer {
    grid-template-columns: 1fr;
  }
  main h1 {
    font-family: playfair display;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.5;
    margin: 0;
  }

  main h2 {
    font-family: roboto;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
