.contaner {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/header.jpg);
  background-size: cover;
  background-repeat: none;
  color: white;
  text-align: center;
  padding: 200px 0;
}
.titles {
  margin: 80px 100px;
}

header h1 {
  font-family: playfair display;
  font-weight: 700;
  font-size: 128px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-family: roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

header h3 {
  font-family: roboto;
  font-weight: 220;
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 60px;
}
header a {
  font-family: roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;
  color: white;
  background-color: #7c0200;
  text-decoration: none;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .titles {
    margin: 0 20px;
  }
  header h1 {
    font-size: 68px;
  }
  header h2 {
    font-size: 18px;
  }
  header h3 {
    font-size: 16px;
  }
}
